@media (min-width: 320px) and (max-width:1279px) {
    body {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        font-weight: normal;
        color: #000;
    }
    /* Header style start */
    .header {
        background-color: #EEEFF1;
        padding-bottom: 95px;
        padding-top: 22px;
    }
    .wrapper__header {
        max-width: 355px;
        margin: auto;
    }
    .header__log {
        margin-bottom: 47px;
    }
    .header__nav {
        display: none;
    }
    .header__logo-link {
        font-family: Revalia;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 60px;
        margin-left: 9px;
        text-align: center;
        text-decoration-color: #34547A;
        text-decoration: none;
    }
    .header__intro {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
    .header__image {
        max-width: 298px;
        max-height: 195px;
        margin-bottom: 51px;
    }
    .header__content {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
    .header__title {
        margin-bottom: 44px;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
    }
    .header__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        max-width: 322px;
        margin-bottom: 44px;
        color: #727272;
    }
    /* Header style end */
    /* AboutMe style start */
    .about-me {
        padding-top: 91px;
        padding-bottom: 82px;
    }
    .about-me__wrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .about-me__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 42px;
        color: #000000;
    }
    .about-me__text {
        margin-top: 42px;
        font-weight: normal;
        max-width: 323px;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #727272;
    }
    /* AboutMe style end */
    /* Portfolio style end */
    .portfolio {
        display: flex;
        flex-flow: column;
        max-height: 477px;
        justify-content: center;
        padding-top: 30.5px;
        padding-bottom: 29.5px;
        background: #34547A;
    }
    .portfolio__wrapper {
        display: flex;
        max-height: 477px;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: column wrap;
    }
    .portfolio__section {
        display: flex;
        margin: auto;
        margin-top: 44.5px;
        margin-bottom: 44.5px;
        justify-content: space-around;
    }
    .portfolio__image {
        margin-right: 20px;
    }
    .portfolio__block-text {
        font-weight: 500;
        font-size: 21px;
        color: #FFFFFF;
    }
    .portfolio__title {
        margin-bottom: 9px;
        font-weight: 500;
        font-size: 21px;
        color: #FFFFFF;
    }
    .portfolio__text {
        font-weight: normal;
        font-size: 16px;
        color: #FFFFFF;
    }
    /* Portfolio style end */
    /* My skills style start */
    .my-skills {
        padding-top: 82px;
        padding-bottom: 103px;
    }
    .my-skills__wrapper {
        display: flex;
        flex-flow: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .my-skills__block-text {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
    .my-skills__title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 30px;
        color: #000000;
    }
    .my-skills__text {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 19.97px;
        color: #727272;
    }
    .my-skills__scale {
        width: 339px;
        height: 4px;
        margin-bottom: 30px;
        background: #C4C4C4;
    }
    .my-skills__level {
        background: #34547A;
        width: 266.14px;
        height: 4px;
        transform: rotate(-0.06deg);
    }
    .my-skills__photo {
        max-width: 339px;
        max-height: 275px;
        margin-bottom: 98px;
        background: #C4C4C4;
    }
    /* My skills style end */
    /* How i work style start */
    .how-i-work {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding-top: 93px;
        padding-bottom: 91px;
        background: #E5E5E5;
    }
    .how-i-work__wrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .how-i-work__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 34px;
        color: #000000;
    }
    .how-i-work__text {
        font-weight: normal;
        max-width: 323px;
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 57px;
        text-align: center;
        color: #727272;
    }
    .how-i-work__present-video {
        max-width: 339px;
        max-height: 185px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    }
    /* How i work style end */
    /* Projects style start */
    .projects {
        padding-top: 34px;
        padding-bottom: 34px;
        background: #FFFFFF;
    }
    .projects__wrapper {
        margin: auto;
        height: 750px;
        width: 375px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
    }
    .projects__example-of-work {
        width: 100%;
        height: 100%;
    }
    .projects__container-link {
        width: 50%;
        height: 25%;
        display: inline-block;
        vertical-align: top;
    }
    /* Projects style end */
    /* Site order style start */
    .site-order {
        padding-top: 91px;
        padding-bottom: 100px;
        background: #E5E5E5;
    }
    .site-order__wrapper {
        margin: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .site-order__title {
        margin-top: 20px;
        margin-bottom: 34px;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        color: #000000;
    }
    .site-order__text {
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 48px;
        line-height: 120%;
        text-align: center;
        color: #727272;
    }
    .site-order__form {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
    .form__text--center {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
    input {
        border: none;
        padding-left: 20px;
        margin-bottom: 22px;
        width: 342px;
        height: 50px;
        background: #FFFFFF;
    }
    .form__text-area {
        height: 175px;
        padding-bottom: 100px;
        margin-bottom: 48px;
    }
    /* Site order style end */
    /* Footer style start */
    .footer {
        padding-top: 50px;
        padding-bottom: 48px;
        background: #34547A;
    }
    .footer__wrapper {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer__signature {
        display: flex;
        flex-flow: column;
        margin-top: 10px;
        justify-content: space-around;
        align-items: center;
    }
    .footer__title {
        font-weight: 500;
        font-size: 21px;
        margin-bottom: 20px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }
    .footer__text {
        font-weight: normal;
        margin-bottom: 38.60px;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
    }
    .footer__social-networks {}
    .footer__link {
        margin-right: 22px;
    }
    .footer__link:last-child {
        margin-right: 0px;
    }
    /* Footer style end */
}